#page-logo a{
    color: rgb(0, 85, 255);
}

header a {
    color: rgb(0, 85, 255);
}

header nav a:hover {
    color: rgb(2, 118, 129);
    background-color: rgb(176, 240, 229);
}

#education-detail {
    height: 56.25rem;
    background-image: url(/images/places/lapop.jpg);
    background-position: center;
    background-size: cover;
}

#about-myself {
    position: relative;
    top: 6.25rem;

}

#education-detail h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: white;
}

#main-list {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(239, 234, 234);
    list-style: square;
    width: 900px;
    margin: 0 auto;
    padding: 0.25rem 1.25rem;
    margin-bottom: 3rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#academic-records {
    margin-bottom: 0;
}

#records ul {
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr 2fr 1fr;
    padding: 0;
}

#records li {
    padding: 0 0.5rem;
}

@media (max-width: 62rem) {
    #education-detail {
        height: 50rem;
    }

    #education-detail h2 {
        font-size: 1.25rem;
    }    

    #main-list {
        width: 600px;
    }
}